body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
.banner-container{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner.png');
    width: 100%;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 0 auto;
}
.banner-text h3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}
.banner-text h1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 75px; 
}

/* offer section */

.offer-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.offer-des h4 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.offer-des h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer-des *{
    padding: 6px;
    margin: 6px;
}
.new-year{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


.container{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    height: 600px;
    width: 100%;
    max-width: 1320px;
    border-radius: 16px;
    margin: 0 auto;
}
.contain-text{
    width: 88%;
    max-width: 1320px;
    margin: 120px auto;
    display: flex;
}
.banner-text-info h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    max-width: 515px;
    margin-top: 120px;
}
.banner-text-info p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.banner-img{
    margin-top: 70px;
    margin-left: 120px;
}
.button{
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

/* time table section */

.bag-color{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 100%;
    max-width: 1320px;
    height: 482px;
    flex-shrink: 0;
    margin: 150px auto;
    border-radius: 16px;
}
.time{
    color: #070211;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 100px;
}
.btn{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
}
.text-pr-color{
    color: #F00;
}

/* coming soon offer */

.coming-soon-offer{
    height: 600px;
    width: 100%;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 50px;

}
.coming-soon-offer h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.coming-soon-offer h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.coming-soon-offer p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.img-radius-new{
    border-radius: 430px;
    border: 15px solid #F00;
    width: 430px;
    height: 430px;
    flex-shrink: 0;
}
.img-radius{
    border-radius: 365px;
    width: 365px;
    height: 365px;
    flex-shrink: 0;
}
#year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#year-text{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.coming-soon-offer *{
    margin: 8px;
    padding: 8px;
}

/* sale off section */

.sale-off{
    text-align: center;
    margin-top: 120px;
}
.sale-off *{
    margin: 0;
    padding: 0;
}
.sale-off h4{
    color: #070211;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.sale-off h1{
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 30px;
}
.holiday-color{
    color: #F00;
}
.sale-off p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width: 1068px;
    margin: 0 auto;
    margin-top: 30px;
    gap: 30px;
}
.holiday-off-banner{
    height: 750px;
    width: 1320px;
    margin: 0 auto;
    margin-top: 100px;
}
.holiday-img-one{
    position: relative;
    left: 890px;
    top: 4px;
}
.holiday-img-two{
    position: relative;
    left: 300px;
    bottom: 65px;
}
.holiday-img-three{
    position: relative;
}
.holiday-img-four{
    position: relative;
    bottom: 670px;
}


/* best gift  */

.best-gift *{
    margin: 0;
    padding: 0;
}
.best-gift{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}
.best-gift h4{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.best-gift h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 16px;
}
.best-gift p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-top: 22px;
}
.gift-container-one{
    display: flex;
    gap: 24px;
    padding-top: 48px;

}
.gift-container-two{
    display: flex;
    gap: 24px;
    padding-top: 24px;
}
.img-one{
    width: 424px;
    height: 450px;
    transition: 0.5s;
}
.img-one:hover{
    transform: scale(1.1);
}
.img-two{
    width: 424px;
    height: 450px;
    transition: 0.5s;
}
.img-two:hover{
    transform: scale(1.1);
}
.img-three{
    width: 424px;
    height: 450px;
    transition: 0.5s;
}
.img-three:hover{
    transform: scale(1.1);
}
.img-four{
    width: 424px;
    height: 450px;
    transition: 0.5s;
}
.img-four:hover{
    transform: scale(1.1);
}
.img-five{
    width: 424px;
    height: 450px;
    transition: 0.5s;
}
.img-five:hover{
    transform: scale(1.1);
}
.img-six{
    width: 424px;
    height: 450px;
    transition: 0.5s;
}
.img-six:hover{
    transform: scale(1.1);
}

/* subscribe  */

.subscribe-con *{
    margin: 0;
    padding: 0;
}
.subscribe-container *{
    margin: 0;
    padding: 0;
}
.subscribe-container{
    background: rgba(255, 0, 0, 0.05);
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 100px auto 100px auto;

}
.img-seven{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
}
.subscribe-con h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-top: 40px;
}
.subscribe-con p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
}
.subscribe-container form{
    max-width: 900px;
    margin: 50px auto;
    display: flex;
}
.subscribe-container form input{
    width: 600px;
    height: 73px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}
.sub{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-weight: 600;
    border: none;
}

/* footer section */

.footer-color{
    background: #070211;
    width: 100%;
    max-width: 1600px;
    height: 609px;
    flex-shrink: 0;
    margin: 0 auto;
}
.footer-text *{
    margin: 0;
    padding: 0;
}
.footer-text{
    display: flex;
    justify-content: space-between;
    padding: 70px 160px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.footer-icon{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.icon-one{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-two{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text-two{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}   